<?xml version="1.0" encoding="UTF-8"?>
<routing>
    <mapping>
        <name>list</name>
        <class>apps.pointApp.List</class>
        <url-pattern>/list</url-pattern>
    </mapping>>

    <mapping>
        <name>Point</name>
        <class>apps.pointApp.Point</class>
        <url-pattern>/p</url-pattern>
    </mapping>

    <mapping>
        <name>PointId</name>
        <class>apps.pointApp.PointId</class>
        <url-pattern>/p/[0-9]+/(x|y)</url-pattern>
    </mapping>

    <mapping>
        <name>PointId2</name>
        <class>apps.pointApp.PointId2</class>
        <url-pattern>/p/[0-9]+((\?x=\d+&amp;y=\d+)|(\?x=\d+)|(\?y=\d+))?</url-pattern>
    </mapping>

    <mapping>
        <name>Inscription</name>
        <class>apps.authenticationApp.Inscription</class>
        <url-pattern>/notes/inscription\?login=\w+&amp;password=\w+</url-pattern>
    </mapping>

    <mapping>
        <name>Connexion</name>
        <class>apps.authenticationApp.Connexion</class>
        <url-pattern>/notes/connexion\?login=\w+&amp;password=\w+</url-pattern>
    </mapping>

    <mapping>
        <name>ListerNotes</name>
        <class>apps.authenticationApp.ListerNotes</class>
        <url-pattern>/notes/list</url-pattern>
    </mapping>

    <mapping>
        <name>SauverNote</name>
        <class>apps.authenticationApp.SauverNote</class>
        <url-pattern>/notes/add\?note=\w+</url-pattern>
    </mapping>

    <!-- forcer l'utilisateur a mettre les bons pattern s'il attend des parametres dans l'url, s'il
     n'ecrit pas la regex dans le bon format tant pis pour lui -->

    <!-- Pour faire une classe par url (et rediriger en fonction de la méthode et des paramètres)
    <mapping>
        <name>Point</name>
        <class>truc.truc.Point</class>
        <url>/p(\/[0-9]+)?(\/[x|y])?(\?.*)</url>
    </mapping>
    -->

</routing>