<?xml version="1.0" encoding="UTF-8"?>
<routing>

    <!-- HTML Manager-->
    <mapping>
        <name>htmlManager</name>
        <class>apps.managerApp.HtmlManager</class>
        <url-pattern>.+\.html</url-pattern>
    </mapping>


    <!-- Appli de test de Point semaine 1-->
    <mapping>
        <name>list</name>
        <class>apps.pointApp.List</class>
        <url-pattern>/Point/list</url-pattern>
    </mapping>>

    <mapping>
        <name>Point</name>
        <class>apps.pointApp.Point</class>
        <url-pattern>/Point/p</url-pattern>
    </mapping>

    <mapping>
        <name>PointId</name>
        <class>apps.pointApp.PointId</class>
        <url-pattern>/Point/p/[0-9]+/(x|y)</url-pattern>
    </mapping>

    <mapping>
        <name>PointId2</name>
        <class>apps.pointApp.PointId2</class>
        <url-pattern>/Point/p/[0-9]+((\?x=\d+&amp;y=\d+)|(\?x=\d+)|(\?y=\d+))?</url-pattern>
    </mapping>


    <!-- Appli de memo avec sessions semaine 3-->
    <!-- surement enlever signup et login -->
    <mapping>
        <name>Inscription</name>
        <class>apps.authenticationApp.Inscription</class>
        <url-pattern>/notes/inscription\?login=\w+&amp;password=\w+</url-pattern>
    </mapping>

    <mapping>
        <name>Connexion</name>
        <class>apps.authenticationApp.Connexion</class>
        <url-pattern>/notes/connexion\?login=\w+&amp;password=\w+</url-pattern>
    </mapping>

    <mapping>
        <name>ListerNotes</name>
        <class>apps.authenticationApp.ListerNotes</class>
        <url-pattern>/notes/list</url-pattern>
    </mapping>

    <mapping>
        <name>SauverNote</name>
        <class>apps.authenticationApp.SauverNote</class>
        <url-pattern>/notes/add\?note=\w+</url-pattern>
    </mapping>


    <!-- Appli de test semaine 5 avec authentification-->
    <mapping>
        <name>Inscription</name>
        <class>apps.todoList.setvlet.Signup</class>
        <url-pattern>/Memos/signup</url-pattern>
    </mapping>

    <mapping>
        <name>Login</name>
        <class>apps.todoList.setvlet.Login</class>
        <url-pattern>/Memos/login</url-pattern>
    </mapping>

    <mapping>
        <name>Logout</name>
        <class>apps.todoList.setvlet.Logout</class>
        <url-pattern>/Memos/logout</url-pattern>
    </mapping>

    <mapping>
        <name>AddMemo</name>
        <class>apps.todoList.setvlet.AddMemo</class>
        <url-pattern>/Memos/addMemo</url-pattern>
    </mapping>

    <mapping>
        <name>RemoveMemo</name>
        <class>apps.todoList.setvlet.RemoveMemo</class>
        <url-pattern>/Memos/removeMemo</url-pattern>
    </mapping>

    <mapping>
        <name>GetMemos</name>
        <class>apps.todoList.setvlet.GetMemos</class>
        <url-pattern>/Memos/getMemos\?userId=\d+</url-pattern>
    </mapping>

    <mapping>
        <name>GetUserInfo</name>
        <class>apps.todoList.setvlet.GetUserInfo</class>
        <url-pattern>/Memos/user\?username=\w+</url-pattern>
    </mapping>


    <!-- forcer l'utilisateur a mettre les bons pattern s'il attend des parametres dans l'url, s'il
     n'ecrit pas la regex dans le bon format tant pis pour lui -->

    <!-- Pour faire une classe par url (et rediriger en fonction de la méthode et des paramètres)
    <mapping>
        <name>Point</name>
        <class>truc.truc.Point</class>
        <url>/p(\/[0-9]+)?(\/[x|y])?(\?.*)</url>
    </mapping>
    -->

</routing>