#toz {
    display: none;
}

.btn {
    margin-right: 10px;
}

.form-control{
    margin-top: 5px;
    margin-bottom: 5px;
}

.mg-top20{
    margin-top: 20px;
}

.mg-bottom20{
    margin-bottom: 20px;
}

.mg-left10{
    margin-left: 10px;
}